/* 在 global.css 或 index.css 中加入 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;600&display=swap');
@import "tailwindcss";
/* 自訂樣式區塊 */
@import "../styles/button.css";
@import "../styles/typography.css";
@import "../styles/events-form-input.css";
@import "../styles/events-form-radio.css";
@import "../styles/events-form-checkbox.css";
@plugin "daisyui" {
  exclude: rootscrollgutter;
}
@utility rating {
  @apply w-fit bg-none;
}


@theme {
  --color-primary-700: #354738;
  --color-primary-500: #5C795F;
  --color-primary-300: #A1B4A2;
  --color-primary-100: #E3E9E2;
  --color-primary-50: #F3F6F3;
  --color-neutral-100: #E7E7E7;
  --color-neutral-50: #f6f6f6;
  --color-neutral-100: #e7e7e7;
  --color-neutral-300: #B0B0B0;
  --color-neutral-500: #6d6d6d;
  --color-neutral-700: #4f4f4f;
  --color-neutral-900: #3D3D3D;
  --color-neutral-950: #121212;
  --color-neutral-white: #FFFFFF;
  ;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

/*內頁scroll bar消失 保持滾動*/
#main-scroll-container::-webkit-scrollbar {
  display: none;
}
#main-scroll-container {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

@layer base {
  input:-moz-autofill {
    background-color: var(--input-bg) !important;
    color: var(--input-text) !important;
  }
}
