@import "tailwindcss";
/* 自訂樣式區塊 */
@import "../styles/button.css";
@import "../styles/typography.css";
@plugin "daisyui" {
  exclude: rootscrollgutter;
}



@theme {
  --color-primary-700: #354738;
  --color-primary-500: #5C795F;
  --color-primary-300: #A1B4A2;
  --color-primary-100: #E3E9E2;
  --color-primary-50: #F3F6F3;
  --color-neutral-300: #B0B0B0;
  --color-neutral-900: #3D3D3D;
  --color-neutral-950: #121212;
  --color-neutral-white: #FFFFFF;
  ;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


@layer base {

  input:-moz-autofill {
    background-color: var(--input-bg) !important;
    color: var(--input-text) !important;
  }

}


 
