@layer components {
 .btn-primary {
     @apply px-4 py-2 rounded-2xl font-semibold text-white bg-primary-500
         transition-colors duration-150 ease-in-out
         hover:bg-primary-700 active:bg-primary-700
         focus:outline-none focus:ring-4 focus:ring-primary-300/60;
         cursor: pointer;
 }
}